# **AI Assignment 1**

**Task - 1 
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)**

In [1]:
import pandas as pd
import numpy as np

In [4]:
s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
# Creating dataframe with Series
df=pd.DataFrame([s1,s2])
df

          0         1         2         3
0  0.459161  0.389402  0.454568  0.477199
1  0.771663  0.580386  0.610093  0.000360

**Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'**

In [6]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
#changing the column names
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.459161        0.389402        0.454568        0.477199
1        0.771663        0.580386        0.610093        0.000360

**Task - 3 Find the descriptive statistics of the 'df' dataframe.**

In [7]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        2.000000        2.000000        2.000000        2.000000
mean         0.615412        0.484894        0.532331        0.238779
std          0.220973        0.135046        0.109973        0.337176
min          0.459161        0.389402        0.454568        0.000360
25%          0.537286        0.437148        0.493449        0.119569
50%          0.615412        0.484894        0.532331        0.238779
75%          0.693537        0.532640        0.571212        0.357989
max          0.771663        0.580386        0.610093        0.477199

In [8]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        2.000000        2.000000        2.000000        2.000000
mean         0.615412        0.484894        0.532331        0.238779
std          0.220973        0.135046        0.109973        0.337176
min          0.459161        0.389402        0.454568        0.000360
25%          0.537286        0.437148        0.493449        0.119569
50%          0.615412        0.484894        0.532331        0.238779
75%          0.693537        0.532640        0.571212        0.357989
max          0.771663        0.580386        0.610093        0.477199

**Task - 4 Check for the null values in 'df' and find the data type of the columns.**

In [9]:
df.isnull()#to check null values

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False

In [10]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  2 non-null      float64
 1   Random value 2  2 non-null      float64
 2   Random value 3  2 non-null      float64
 3   Random value 4  2 non-null      float64
dtypes: float64(4)
memory usage: 192.0 bytes

In [16]:
df['Random value 1']

0    0.459161
1    0.771663
Name: Random value 1, dtype: float64

In [11]:
df['Random value 1'].dtype

dtype('float64')

In [12]:
df['Random value 2'].dtype

dtype('float64')

In [13]:
df['Random value 3'].dtype

dtype('float64')

In [18]:
df['Random value 4'].dtype

dtype('float64')

**Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.**

In [20]:
df.loc[0:1,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.389402        0.454568
1        0.580386        0.610093

In [22]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.389402        0.454568
1        0.580386        0.610093