# **AI Assignment-2**

**Task1 Read the dataset and do data pre-processing**

In [ ]:
#import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [111]:
df=pd.read_csv('/content/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [112]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [113]:
df['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [114]:
df['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [140]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [116]:
le=LabelEncoder()

In [150]:
df['Drug']=le.fit_transform(df['Drug'])

In [151]:
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     0
1   47    1   1            0   13.093     3
2   47    1   1            0   10.114     3
3   28    0   2            0    7.798     4
4   61    0   1            0   18.043     0

In [152]:
x = pd.get_dummies(df.iloc[:,0:5]).values
x

array([[23.   ,  0.   ,  0.   ,  0.   , 25.355],
       [47.   ,  1.   ,  1.   ,  0.   , 13.093],
       [47.   ,  1.   ,  1.   ,  0.   , 10.114],
       [28.   ,  0.   ,  2.   ,  0.   ,  7.798],
       [61.   ,  0.   ,  1.   ,  0.   , 18.043],
       [22.   ,  0.   ,  2.   ,  0.   ,  8.607],
       [49.   ,  0.   ,  2.   ,  0.   , 16.275],
       [41.   ,  1.   ,  1.   ,  0.   , 11.037],
       [60.   ,  1.   ,  2.   ,  0.   , 15.171],
       [43.   ,  1.   ,  1.   ,  2.   , 19.368],
       [47.   ,  0.   ,  1.   ,  0.   , 11.767],
       [34.   ,  0.   ,  0.   ,  2.   , 19.199],
       [43.   ,  1.   ,  1.   ,  0.   , 15.376],
       [74.   ,  0.   ,  1.   ,  0.   , 20.942],
       [50.   ,  0.   ,  2.   ,  0.   , 12.703],
       [16.   ,  0.   ,  0.   ,  2.   , 15.516],
       [69.   ,  1.   ,  1.   ,  2.   , 11.455],
       [43.   ,  1.   ,  0.   ,  0.   , 13.972],
       [23.   ,  1.   ,  1.   ,  0.   ,  7.298],
       [32.   ,  0.   ,  0.   ,  2.   , 25.974],
       [57.   ,  1.   ,  1.   ,  2.   , 19.128],
       [63.   ,  1.   ,  2.   ,  0.   , 25.917],
       [47.   ,  1.   ,  1.   ,  2.   , 30.568],
       [48.   ,  0.   ,  1.   ,  0.   , 15.036],
       [33.   ,  0.   ,  1.   ,  0.   , 33.486],
       [28.   ,  0.   ,  0.   ,  2.   , 18.809],
       [31.   ,  1.   ,  0.   ,  0.   , 30.366],
       [49.   ,  0.   ,  2.   ,  2.   ,  9.381],
       [39.   ,  0.   ,  1.   ,  2.   , 22.697],
       [45.   ,  1.   ,  1.   ,  0.   , 17.951],
       [18.   ,  0.   ,  2.   ,  2.   ,  8.75 ],
       [74.   ,  1.   ,  0.   ,  0.   ,  9.567],
       [49.   ,  1.   ,  1.   ,  2.   , 11.014],
       [65.   ,  0.   ,  0.   ,  2.   , 31.876],
       [53.   ,  1.   ,  2.   ,  0.   , 14.133],
       [46.   ,  1.   ,  2.   ,  2.   ,  7.285],
       [32.   ,  1.   ,  0.   ,  2.   ,  9.445],
       [39.   ,  1.   ,  1.   ,  2.   , 13.938],
       [39.   ,  0.   ,  2.   ,  2.   ,  9.709],
       [15.   ,  1.   ,  2.   ,  0.   ,  9.084],
       [73.   ,  0.   ,  2.   ,  0.   , 19.221],
       [58.   ,  0.   ,  0.   ,  2.   , 14.239],
       [50.   ,  1.   ,  2.   ,  2.   , 15.79 ],
       [23.   ,  1.   ,  2.   ,  0.   , 12.26 ],
       [50.   ,  0.   ,  2.   ,  2.   , 12.295],
       [66.   ,  0.   ,  2.   ,  2.   ,  8.107],
       [37.   ,  0.   ,  0.   ,  0.   , 13.091],
       [68.   ,  1.   ,  1.   ,  0.   , 10.291],
       [23.   ,  1.   ,  2.   ,  0.   , 31.686],
       [28.   ,  0.   ,  1.   ,  0.   , 19.796],
       [58.   ,  0.   ,  0.   ,  0.   , 19.416],
       [67.   ,  1.   ,  2.   ,  2.   , 10.898],
       [62.   ,  1.   ,  1.   ,  2.   , 27.183],
       [24.   ,  0.   ,  0.   ,  2.   , 18.457],
       [68.   ,  0.   ,  0.   ,  2.   , 10.189],
       [26.   ,  0.   ,  1.   ,  0.   , 14.16 ],
       [65.   ,  1.   ,  0.   ,  2.   , 11.34 ],
       [40.   ,  1.   ,  0.   ,  0.   , 27.826],
       [60.   ,  1.   ,  2.   ,  2.   , 10.091],
       [34.   ,  1.   ,  0.   ,  0.   , 18.703],
       [38.   ,  0.   ,  1.   ,  2.   , 29.875],
       [24.   ,  1.   ,  0.   ,  2.   ,  9.475],
       [67.   ,  1.   ,  1.   ,  2.   , 20.693],
       [45.   ,  1.   ,  1.   ,  2.   ,  8.37 ],
       [60.   ,  0.   ,  0.   ,  0.   , 13.303],
       [68.   ,  0.   ,  2.   ,  2.   , 27.05 ],
       [29.   ,  1.   ,  0.   ,  0.   , 12.856],
       [17.   ,  1.   ,  2.   ,  2.   , 10.832],
       [54.   ,  1.   ,  2.   ,  0.   , 24.658],
       [18.   ,  0.   ,  0.   ,  2.   , 24.276],
       [70.   ,  1.   ,  0.   ,  0.   , 13.967],
       [28.   ,  0.   ,  2.   ,  0.   , 19.675],
       [24.   ,  0.   ,  2.   ,  0.   , 10.605],
       [41.   ,  0.   ,  2.   ,  2.   , 22.905],
       [31.   ,  1.   ,  0.   ,  2.   , 17.069],
       [26.   ,  1.   ,  1.   ,  2.   , 20.909],
       [36.   ,  0.   ,  0.   ,  0.   , 11.198],
       [26.   ,  0.   ,  0.   ,  2.   , 19.161],
       [19.   ,  0.   ,  0.   ,  0.   , 13.313],
       [32.   ,  0.   ,  1.   ,  2.   , 10.84 ],
       [60.   ,  1.   ,  0.   ,  0.   , 13.934],
       [64.   ,  1.   ,  2.   ,  0.   ,  7.761],
       [32.   ,  0.   ,  1.   ,  0.   ,  9.712],
       [38.   ,  0.   ,  0.   ,  2.   , 11.326],
       [47.   ,  0.   ,  1.   ,  0.   , 10.067],
       [59.   ,  1.   ,  0.   ,  0.   , 13.935],
       [51.   ,  0.   ,  2.   ,  0.   , 13.597],
       [69.   ,  1.   ,  1.   ,  0.   , 15.478],
       [37.   ,  0.   ,  0.   ,  2.   , 23.091],
       [50.   ,  0.   ,  2.   ,  2.   , 17.211],
       [62.   ,  1.   ,  2.   ,  0.   , 16.594],
       [41.   ,  1.   ,  0.   ,  2.   , 15.156],
       [29.   ,  0.   ,  0.   ,  0.   , 29.45 ],
       [42.   ,  0.   ,  1.   ,  2.   , 29.271],
       [56.   ,  1.   ,  1.   ,  0.   , 15.015],
       [36.   ,  1.   ,  1.   ,  2.   , 11.424],
       [58.   ,  0.   ,  1.   ,  0.   , 38.247],
       [56.   ,  0.   ,  0.   ,  0.   , 25.395],
       [20.   ,  1.   ,  0.   ,  2.   , 35.639],
       [15.   ,  0.   ,  0.   ,  2.   , 16.725],
       [31.   ,  1.   ,  0.   ,  2.   , 11.871],
       [45.   ,  0.   ,  0.   ,  0.   , 12.854],
       [28.   ,  0.   ,  1.   ,  0.   , 13.127],
       [56.   ,  1.   ,  2.   ,  0.   ,  8.966],
       [22.   ,  1.   ,  0.   ,  2.   , 28.294],
       [37.   ,  1.   ,  1.   ,  2.   ,  8.968],
       [22.   ,  1.   ,  2.   ,  0.   , 11.953],
       [42.   ,  1.   ,  1.   ,  0.   , 20.013],
       [72.   ,  1.   ,  0.   ,  2.   ,  9.677],
       [23.   ,  1.   ,  2.   ,  0.   , 16.85 ],
       [50.   ,  1.   ,  0.   ,  0.   ,  7.49 ],
       [47.   ,  0.   ,  2.   ,  2.   ,  6.683],
       [35.   ,  1.   ,  1.   ,  2.   ,  9.17 ],
       [65.   ,  0.   ,  1.   ,  2.   , 13.769],
       [20.   ,  0.   ,  2.   ,  2.   ,  9.281],
       [51.   ,  1.   ,  0.   ,  0.   , 18.295],
       [67.   ,  1.   ,  2.   ,  2.   ,  9.514],
       [40.   ,  0.   ,  2.   ,  0.   , 10.103],
       [32.   ,  0.   ,  0.   ,  2.   , 10.292],
       [61.   ,  0.   ,  0.   ,  0.   , 25.475],
       [28.   ,  1.   ,  2.   ,  0.   , 27.064],
       [15.   ,  1.   ,  0.   ,  2.   , 17.206],
       [34.   ,  1.   ,  2.   ,  0.   , 22.456],
       [36.   ,  0.   ,  2.   ,  0.   , 16.753],
       [53.   ,  0.   ,  0.   ,  2.   , 12.495],
       [19.   ,  0.   ,  0.   ,  2.   , 25.969],
       [66.   ,  1.   ,  0.   ,  0.   , 16.347],
       [35.   ,  1.   ,  2.   ,  2.   ,  7.845],
       [47.   ,  1.   ,  1.   ,  2.   , 33.542],
       [32.   ,  0.   ,  2.   ,  0.   ,  7.477],
       [70.   ,  0.   ,  2.   ,  0.   , 20.489],
       [52.   ,  1.   ,  1.   ,  2.   , 32.922],
       [49.   ,  1.   ,  1.   ,  2.   , 13.598],
       [24.   ,  1.   ,  2.   ,  0.   , 25.786],
       [42.   ,  0.   ,  0.   ,  0.   , 21.036],
       [74.   ,  1.   ,  1.   ,  2.   , 11.939],
       [55.   ,  0.   ,  0.   ,  0.   , 10.977],
       [35.   ,  0.   ,  0.   ,  0.   , 12.894],
       [51.   ,  1.   ,  0.   ,  2.   , 11.343],
       [69.   ,  0.   ,  2.   ,  0.   , 10.065],
       [49.   ,  1.   ,  0.   ,  2.   ,  6.269],
       [64.   ,  0.   ,  1.   ,  2.   , 25.741],
       [60.   ,  1.   ,  0.   ,  2.   ,  8.621],
       [74.   ,  1.   ,  0.   ,  2.   , 15.436],
       [39.   ,  1.   ,  0.   ,  0.   ,  9.664],
       [61.   ,  1.   ,  2.   ,  0.   ,  9.443],
       [37.   ,  0.   ,  1.   ,  2.   , 12.006],
       [26.   ,  0.   ,  0.   ,  2.   , 12.307],
       [61.   ,  0.   ,  1.   ,  2.   ,  7.34 ],
       [22.   ,  1.   ,  1.   ,  0.   ,  8.151],
       [49.   ,  1.   ,  0.   ,  2.   ,  8.7  ],
       [68.   ,  1.   ,  0.   ,  0.   , 11.009],
       [55.   ,  1.   ,  2.   ,  2.   ,  7.261],
       [72.   ,  0.   ,  1.   ,  2.   , 14.642],
       [37.   ,  1.   ,  1.   ,  2.   , 16.724],
       [49.   ,  1.   ,  1.   ,  0.   , 10.537],
       [31.   ,  1.   ,  0.   ,  2.   , 11.227],
       [53.   ,  1.   ,  1.   ,  0.   , 22.963],
       [59.   ,  0.   ,  1.   ,  0.   , 10.444],
       [34.   ,  0.   ,  1.   ,  2.   , 12.923],
       [30.   ,  0.   ,  2.   ,  0.   , 10.443],
       [57.   ,  0.   ,  0.   ,  2.   ,  9.945],
       [43.   ,  1.   ,  2.   ,  2.   , 12.859],
       [21.   ,  0.   ,  0.   ,  2.   , 28.632],
       [16.   ,  1.   ,  0.   ,  2.   , 19.007],
       [38.   ,  1.   ,  1.   ,  0.   , 18.295],
       [58.   ,  0.   ,  1.   ,  0.   , 26.645],
       [57.   ,  0.   ,  2.   ,  0.   , 14.216],
       [51.   ,  0.   ,  1.   ,  2.   , 23.003],
       [20.   ,  0.   ,  0.   ,  0.   , 11.262],
       [28.   ,  0.   ,  2.   ,  0.   , 12.879],
       [45.   ,  1.   ,  1.   ,  2.   , 10.017],
       [39.   ,  0.   ,  2.   ,  2.   , 17.225],
       [41.   ,  0.   ,  1.   ,  2.   , 18.739],
       [42.   ,  1.   ,  0.   ,  2.   , 12.766],
       [73.   ,  0.   ,  0.   ,  0.   , 18.348],
       [48.   ,  1.   ,  0.   ,  2.   , 10.446],
       [25.   ,  1.   ,  2.   ,  0.   , 19.011],
       [39.   ,  1.   ,  2.   ,  0.   , 15.969],
       [67.   ,  0.   ,  2.   ,  0.   , 15.891],
       [22.   ,  0.   ,  0.   ,  2.   , 22.818],
       [59.   ,  0.   ,  2.   ,  0.   , 13.884],
       [20.   ,  0.   ,  1.   ,  2.   , 11.686],
       [36.   ,  0.   ,  0.   ,  2.   , 15.49 ],
       [18.   ,  0.   ,  0.   ,  0.   , 37.188],
       [57.   ,  0.   ,  2.   ,  2.   , 25.893],
       [70.   ,  1.   ,  0.   ,  0.   ,  9.849],
       [47.   ,  1.   ,  0.   ,  0.   , 10.403],
       [65.   ,  1.   ,  0.   ,  2.   , 34.997],
       [64.   ,  1.   ,  0.   ,  2.   , 20.932],
       [58.   ,  1.   ,  0.   ,  0.   , 18.991],
       [23.   ,  1.   ,  0.   ,  0.   ,  8.011],
       [72.   ,  1.   ,  1.   ,  0.   , 16.31 ],
       [72.   ,  1.   ,  1.   ,  0.   ,  6.769],
       [46.   ,  0.   ,  0.   ,  0.   , 34.686],
       [56.   ,  0.   ,  1.   ,  0.   , 11.567],
       [16.   ,  1.   ,  1.   ,  0.   , 12.006],
       [52.   ,  1.   ,  2.   ,  0.   ,  9.894],
       [23.   ,  1.   ,  2.   ,  2.   , 14.02 ],
       [40.   ,  0.   ,  1.   ,  2.   , 11.349]])

In [153]:
y = df.iloc[:,5:].values
y

array([[0],
       [3],
       [3],
       [4],
       [0],
       [4],
       [0],
       [3],
       [0],
       [0],
       [3],
       [0],
       [0],
       [0],
       [4],
       [0],
       [4],
       [1],
       [3],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [4],
       [0],
       [0],
       [4],
       [2],
       [4],
       [0],
       [4],
       [4],
       [1],
       [4],
       [4],
       [4],
       [0],
       [2],
       [0],
       [4],
       [4],
       [4],
       [1],
       [3],
       [0],
       [0],
       [0],
       [4],
       [0],
       [0],
       [2],
       [3],
       [2],
       [0],
       [4],
       [0],
       [0],
       [1],
       [0],
       [4],
       [2],
       [0],
       [1],
       [4],
       [0],
       [0],
       [2],
       [0],
       [4],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [4],
       [2],
       [4],
       [3],
       [1],
       [3],
       [2],
       [4],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [4],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [3],
       [4],
       [0],
       [4],
       [4],
       [0],
       [2],
       [0],
       [1],
       [4],
       [4],
       [4],
       [4],
       [0],
       [4],
       [4],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [2],
       [0],
       [0],
       [4],
       [0],
       [4],
       [0],
       [0],
       [4],
       [0],
       [0],
       [4],
       [2],
       [1],
       [2],
       [4],
       [1],
       [0],
       [2],
       [0],
       [1],
       [4],
       [4],
       [1],
       [4],
       [3],
       [1],
       [2],
       [4],
       [4],
       [0],
       [3],
       [1],
       [0],
       [3],
       [4],
       [4],
       [2],
       [4],
       [0],
       [0],
       [0],
       [0],
       [4],
       [0],
       [1],
       [4],
       [4],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [4],
       [4],
       [0],
       [0],
       [0],
       [2],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [3],
       [0],
       [3],
       [3],
       [4],
       [4],
       [4]])

In [154]:
#import the libraries
from sklearn.model_selection import train_test_split

In [155]:
#Split the training and testing data
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)

In [156]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 5), (40, 5), (160, 1), (40, 1))

In [157]:
scaler=StandardScaler()
xtrain=scaler.fit_transform(xtrain)
xtest=scaler.transform(xtest)

**Task 2  Build an ANN Model(with input layes,min 3 hidden layers&output layer)**

In [158]:
# Build an ANN model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [164]:
# ANN Model
model = Sequential()
model.add(Dense(8,activation='relu',input_shape=(xtrain.shape[1],)))#input layer
model.add(Dense(32,activation='relu'))#1st hidden layer
model.add(Dense(26,activation='relu'))#2nd hidden layer
model.add(Dense(16,activation='relu'))#3rd hidden layer
model.add(Dense(5,activation='softmax'))#Output layer

In [165]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [166]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_40 (Dense)            (None, 8)                 48

 dense_41 (Dense)            (None, 32)                288

 dense_42 (Dense)            (None, 26)                858

 dense_43 (Dense)            (None, 16)                432

 dense_44 (Dense)            (None, 5)                 85

=================================================================
Total params: 1,711
Trainable params: 1,711
Non-trainable params: 0
_________________________________________________________________

In [167]:
model.fit(xtrain,ytrain,epochs=25,batch_size=5,verbose=1)

Epoch 1/25
32/32 [==============================] - 1s 4ms/step - loss: 1.5047 - accuracy: 0.3750
Epoch 2/25
32/32 [==============================] - 0s 3ms/step - loss: 1.3369 - accuracy: 0.6375
Epoch 3/25
32/32 [==============================] - 0s 3ms/step - loss: 1.1368 - accuracy: 0.7000
Epoch 4/25
32/32 [==============================] - 0s 3ms/step - loss: 0.9579 - accuracy: 0.7000
Epoch 5/25
32/32 [==============================] - 0s 3ms/step - loss: 0.8334 - accuracy: 0.7125
Epoch 6/25
32/32 [==============================] - 0s 3ms/step - loss: 0.7427 - accuracy: 0.7188
Epoch 7/25
32/32 [==============================] - 0s 3ms/step - loss: 0.6868 - accuracy: 0.7188
Epoch 8/25
32/32 [==============================] - 0s 3ms/step - loss: 0.6329 - accuracy: 0.7375
Epoch 9/25
32/32 [==============================] - 0s 3ms/step - loss: 0.5834 - accuracy: 0.7875
Epoch 10/25
32/32 [==============================] - 0s 3ms/step - loss: 0.5371 - accuracy: 0.8000
Epoch 11/25
32/32 [==============================] - 0s 4ms/step - loss: 0.4979 - accuracy: 0.8188
Epoch 12/25
32/32 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.8313
Epoch 13/25
32/32 [==============================] - 0s 2ms/step - loss: 0.4279 - accuracy: 0.8313
Epoch 14/25
32/32 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8500
Epoch 15/25
32/32 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8500
Epoch 16/25
32/32 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8562
Epoch 17/25
32/32 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.8625
Epoch 18/25
32/32 [==============================] - 0s 2ms/step - loss: 0.2748 - accuracy: 0.8750
Epoch 19/25
32/32 [==============================] - 0s 2ms/step - loss: 0.2526 - accuracy: 0.8813
Epoch 20/25
32/32 [==============================] - 0s 2ms/step - loss: 0.2283 - accuracy: 0.9000
Epoch 21/25
32/32 [==============================] - 0s 2ms/step - loss: 0.2107 - accuracy: 0.9375
Epoch 22/25
32/32 [==============================] - 0s 2ms/step - loss: 0.1937 - accuracy: 0.9312
Epoch 23/25
32/32 [==============================] - 0s 2ms/step - loss: 0.1828 - accuracy: 0.9500
Epoch 24/25
32/32 [==============================] - 0s 2ms/step - loss: 0.1526 - accuracy: 0.9500
Epoch 25/25
32/32 [==============================] - 0s 2ms/step - loss: 0.1460 - accuracy: 0.9625

**Task 3 Test the model with random data**

In [175]:
data=np.array([[32,0,2,2,7.798]])
ypred=model.predict(data)
pred_labels=le.inverse_transform(np.argmax(ypred,axis=1))
print("Predicted Drug Class:", pred_labels)

1/1 [==============================] - 0s 26ms/step
Predicted Drug Class: ['drugX']

In [180]:
data=np.array([[23,0,0,0,25.355]])
ypred=model.predict(data)
pred_labels=le.inverse_transform(np.argmax(ypred,axis=1))
print("Predicted Drug Class:", pred_labels)

1/1 [==============================] - 0s 50ms/step
Predicted Drug Class: ['DrugY']